################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MvcMovies/FileContentIndex
/obj/Debug/net6.0
